name: ASP.NET Core CI

on: [push]

jobs:
  npm:
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: npm install
      
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.108
    - name: Build with dotnet
      run: dotnet build **/*.sln --configuration Release
